# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  cloudflared:
    container_name: cloudflared
    restart: unless-stopped
    image: crazymax/cloudflared
    command: proxy-dns
    environment:
      - "TZ=Europe/Paris"
      - "TUNNEL_DNS_UPSTREAM=https://1.1.1.1/dns-query,https://1.0.0.1/dns-query,https://9.9.9.9/dns-query,https://149.112.112.9/dns-query"
      - "TUNNEL_METRICS=0.0.0.0:49312"
      - "TUNNEL_DNS_ADDRESS=0.0.0.0"
      - "TUNNEL_DNS_PORT=5053"
    ports:
      - target: 5053
        published: 5053
        protocol: udp
      - target: 49312
        published: 49312
        protocol: tcp
    networks:
      private_network:
        ipv4_address: 10.0.0.2

  pihole:
    depends_on: [cloudflared]
    container_name: pihole
    image: pihole/pihole:latest
    hostname: '{{ pihole_hostname }}'
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "67:67/udp"
      - "80:80/tcp"
      - "443:443/tcp"
    environment:
      TZ: '{{ pihole_timezone }}'
      DNSMASQ_LISTENING: 'local'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: '{{ ansible_facts['default_ipv4']['address'] }}'
      PIHOLE_DNS_: '10.0.0.2#5053'
    dns:
      - 127.0.0.1
      - 10.0.0.2 # Points to cloudflared
    volumes:
      - './etc-pihole/:/etc/pihole/'
      - './etc-dnsmasq.d/:/etc/dnsmasq.d/'
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
    networks:
      private_network:
        ipv4_address: 10.0.0.3

  # More info https://hub.docker.com/r/linuxserver/wireguard
  wireguard:
    depends_on: [cloudflared, pihole]
    image: lscr.io/linuxserver/wireguard
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
      - SERVERURL={{ ipify_public_ip }} #optional
      - SERVERPORT={{ wireguard_port }} #optional
      - PEERS={{ wireguard_peers |  join(',') }} #optional
      - PEERDNS=10.0.0.3 # Set it to point to pihole
      - INTERNAL_SUBNET=10.13.13.0 #optional
      - ALLOWEDIPS=0.0.0.0/0 #optional
    volumes:
      - ../wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - {{ wireguard_port }}:{{ wireguard_port }}/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    dns:
      - 10.0.0.3 # Points to pihole
      - 10.0.0.2 # Points to cloudflared
    restart: unless-stopped
    networks:
      private_network:
        ipv4_address: 10.0.0.4

networks:
  private_network:
    driver: bridge
    ipam:
      config:
        - subnet: 10.0.0.0/29
